/* ==========================================================================
                        Font
========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
    font-family: 'Bree Serif', serif;
    font-size: 13px;
}

h2 {
    font-size: 20px;
}

/* ==========================================================================
                           Statement
========================================================================== */
.is-white {
    background-color: #F9DB9C;
}

.is-grey {
    background-color: #989898;
}

/* ==========================================================================
                           Statement
========================================================================== */
.header-top {
    padding: 10px;
}

/* ==========================================================================
                           Table
========================================================================== */
table {
    margin-top: 10px;
}

table tr td.number {
    text-align: center;
    width: 50px;
}

tr, td {
    padding: 5px;
}

table tr td.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.full-width-table {
    width: 100%;
}

/* ==========================================================================
                Rappel
========================================================================== */
.rappel {
    margin: 10px 0;
}

/* ==========================================================================
                           Input Value
========================================================================== */
.value-input {
    border-bottom: 1px dotted #000;
    width: 100%;
}

.value-input:before {
    content: ":";
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

/* ==========================================================================
                Date signature
========================================================================== */

.date-signature {
    margin: 10px 0;
}

.signature {
    margin: 15px;
}

/* ==========================================================================
                Footer
========================================================================== */
.message-footer {
    text-align: center;
    margin: 10px 0;
}

.message-footer p {
    padding: 0;
    margin: 0;
}
