/* ==========================================================================
                        Font
========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
    font-family: 'Bree Serif', serif;
    font-size: 11px;
}

/* ==========================================================================
                           Statement
========================================================================== */
.is-grey {
    background-color: #989898;
}

.is-white {
    background-color: #F9DB9C;
}


.text-small {
    font-size: 10px;
    text-transform: none;
}

/* ==========================================================================
                           Statement
========================================================================== */
.header-top {
    padding: 10px;
}


/* ==========================================================================
                           Signature
========================================================================== */

.signature {
    margin: 30px 0;
}

/* ==========================================================================
                           Table
========================================================================== */
table {
    margin-top: 5px;
}

table tr td.number {
    text-align: center;
}

tr, td {
    padding: 2px;
}

table tr td.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.full-width-table {
    width: 100%;
}

/* ==========================================================================
                Footer
========================================================================== */
.message-footer {
    text-align: center;
    margin: 5px 0;
}

.message-footer p {
    padding: 0;
    margin: 0;
}
